<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/00100sPORTRAIT_00100_BURST20200111121123738_COVER-01-min.jpeg">
        </div>
            {{>footer}}
        </body>
</html>